<div class="row">
	<h2>Race Entries:  <%= @race_entry_count %></h2>
	<h2>Race Wins:  <%= @race_win_count %></h2>
	<h2>Win Percentage:  <%= number_to_percentage(@win_percentage*100) %></h2>
	<div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
		<label for="quit-wager">Quit Wager:</label>
		<input type="text" id="quit-wager" class="form-control">
		<label for="start-wager">Start Wager:</label>
		<input type="text" id="start-wager" class="form-control">
	</div>
</div>